/*.tar.gz
/*.tar.xz
/*.json
/*.patch

/autoconf/
/automake/
/gettext/
/libtool/
/pkg-config/
/ncurses/
/procps/
/watch/

/autoconf-2.69/
/automake-1.16.1/
/gettext-0.20.1/
/libtool-2.4.6/
/ncurses-6.1/
/pkg-config-0.29.2/

/opt/